In [4]:
#pip install yfinance

In [5]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

In [10]:
ticker = 'BTC-USD'

start_date = (datetime.now() - timedelta(days=365)).strftime('%Y-%m-%d')
end_date = datetime.now().strftime('%Y-%m-%d')

data = yf.download(ticker, start=start_date, end=end_date)

data.to_csv(f'data/{ticker}_historical_data.csv')

data = data.reset_index()
data

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-09-21,27129.839844,27152.939453,26389.300781,26567.632812,26567.632812,13371443708
1,2023-09-22,26564.056641,26726.078125,26495.533203,26579.568359,26579.568359,10578746709
2,2023-09-23,26578.556641,26634.185547,26520.519531,26579.390625,26579.390625,7404700301
3,2023-09-24,26579.373047,26716.058594,26221.050781,26256.826172,26256.826172,8192867686
4,2023-09-25,26253.775391,26421.507812,26011.468750,26298.480469,26298.480469,11997833257
...,...,...,...,...,...,...,...
360,2024-09-15,60000.726562,60381.917969,58696.308594,59182.835938,59182.835938,18120960867
361,2024-09-16,59185.226562,59205.511719,57501.339844,58192.507812,58192.507812,32032822113
362,2024-09-17,58192.507812,61316.089844,57628.070312,60308.539062,60308.539062,38075570118
363,2024-09-18,60309.000000,61664.066406,59218.253906,61649.679688,61649.679688,40990702891
364,2024-09-19,61651.156250,63872.441406,61609.867188,62940.457031,62940.457031,42710252573